<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To Do List</title>
</head>
<body>
    <main id="app">
        <div id="div" class="header">
            <h2>Чек - лист</h2>
            <input type="text" v-model="newTodo" placeholder="название">
            <span class="add" @click="newElem()">Добавить</span>
        </div>
        
        <ul>
            <li v-for="todo in todos">
              <input class="checkbox" type="checkbox">
              <span>{{todo.title}}</span>
              <button class="remove" @click="removeElem(todo)">x</button>
            </li>
        </ul>
    </main>
</body>
<script src="script.js"></script>
</html>